body {
  
}

h1 {
    font-family: 'proxima-soft';
    font-weight: 800;
    font-size: 3em;
}

h2 {
    font-family: 'proxima-soft';
    font-weight: 600;
}

h3 {
    font-family: 'proxima-soft';
    font-weight: 600;
}

.article {
    h2 {color: #3471b8;
        font-size: x-large;
    }
    p { font-family: 'apparat';
        font-size: medium;
    }
}
   
